<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>      
<link rel="stylesheet" href="/stylesheets/signup.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&display=swap" rel="stylesheet">



</head>
<body>


<div class="text-center mt-5  container outer">
 

    <div class="text-center pt-5 ">

        <img src="images/Group 40.png" class="img-fluid" alt="Responsive image">
    
    </div>
    <h1 class="m-3" style="font-weight:600; font-size:30px; color:RGB(15, 30, 6);"> Welcome Back ! Sign in with</h1>

    <div>

        <img src="images/google facebook.png" alt="Responsive image" class="img-fluid googleicon mt-3">
    </div>
<p class="mt-5 text-danger" style="font-weight:700 ;">{{loginerr}}</p>
<p class="mt-5 text-danger" style="font-weight:700 ;">{{blocked}}</p>
<form action="/userlogin" method="POST">
    <input type="text" placeholder="Email" name="Email" required class="mt-4 col-12 br ps-3 "> 
    <input type="text" placeholder="password" name="Password" required class="mt-4 col-12 ps-3 br"> 
    <p class="text-start ms-3 mt-3 " style="font-weight:500 ; color:RGB(58, 129, 58) ;">Forget password?</p>
    <button type="submit"  class="btn submit m-3 bg-gradient">Sign in</button>
        <p> New Here? <a class="create bg-gradient" href="/usersignup">Create an account</a></p>
</form>
    
    
</div>


 


    




    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script> 
</body>
</html>