
<style>
    .one{
        background-color: rgb(5, 4, 4);
        color: rgb(255, 255, 255);
        text-decoration:none ;
        
    }
    .one:hover{
        color:brown ;
        font-size: 50px;
    }

</style>


<div class="container">
<div class="row text-center m-5">
    <div class="col-md-6 col-12 bg-gradient one border  py-5"><a class="one" href="/myorders"><h4>Your Orders <i class="fa-solid fa-cart-shopping"></i></h4></a></div>
    <div class="col-md-6 col-12 one bg-gradient border py-5"><a class="one" href="/myprofile"><h4 class="two">User Profile <i class="fa-solid fa-user"></i></h4></a></div>
    <div class="col-md-6 col-12 one bg-gradient border py-5" ><a class="one" href=""><h4>Conatct us <i class="fa-solid fa-phone"></i></h4></a></div>
    <div class="col-md-6 col-12 one border bg-gradient py-5"><a  class="one" href="/myaddress"><h4>My Addresses <i class="fa-solid fa-circle-info"></i></h4></a></div>
  


</div>
</div>


	<footer class="section bg-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="">
						<h6 class="footer-heading text-uppercase text-white">ABOUT US</h6>
						<ul class="list-unstyled footer-link mt-4">
							<li><a href="">Our Story</a></li>
							<li><a href="">Contactc Us</a></li>
							<li><a href="">Locate Stores</a></li>

						</ul>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="">
						<h6 class="footer-heading text-uppercase text-white">offer and Rewards</h6>
						<ul class="list-unstyled footer-link mt-4">
							<li><a href="">Offers </a></li>
							<li><a href="">Coupens</a></li>
							<li><a href="">Rewards </a></li>

						</ul>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="">
						<h6 class="footer-heading text-uppercase text-white">Help</h6>
						<ul class="list-unstyled footer-link mt-4">
							<li><a href="">Sign Up </a></li>
							<li><a href="">Login</a></li>
							<li><a href="">Terms of Services</a></li>
							<li><a href="">Privacy Policy</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="">
						<h6 class="footer-heading text-uppercase text-white">Contact Us</h6>
						<p class="contact-info mt-4">Contact us if need help withanything</p>
						<p class="contact-info">+9190489544884</p>
						<div class="mt-5">
							<ul class="list-inline ">

								<li class="list-inline-item"><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i
											class="fa-brands fa-square-whatsapp"></i></a></li>
								<li class="list-inline-item"><a href="#"><i
											class="fa-brands fa-square-instagram"></i></i></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center mt-5">
			<p class="footer-alt mb-0 f-14">2019 © Plantography, All Rights Reserved</p>
		</div>
	</footer>
