<section class="vh-100" style="background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(162,194,170,1) 43%, rgba(37,149,65,1) 100%);">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Sign in with OTP </h3>
<form action="/sendotp" method="post">
            <div class="form-outline mb-4">
              <input type="number" name="number" id="inputtxt"  class="form-control form-control-lg" />
              <label class="form-label" for="typeEmailX-2">Enter  the MOBILE NUMBER</label>
            </div>


            <!-- Checkbox -->
                       {{#if noaccount}}
                        <p class="text-danger">Number is not verified.....!</p>
                        {{/if}}

            <button class="btn btn-primary btn-lg btn-block" type="submit">SEND OTP</button>
                   {{#if otpSend}}
                    <p class="text-success">otp successfully sent</p>
                    {{/if}}

             
            <hr class="my-4">
            </form>
        
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{{!-- <script>
  function check(inputtxt)
{
  var phoneno = /^\d{10}$/;
  if((inputtxt.value.match(phoneno))
        {
      return true;
        }
      else
        {
        alert("message");
        alert("hj")
        return false;
        }
} --}}

{{!-- </script> --}}